.message {
  font-family: var(--heading);
  font-size: 1.75rem;
  font-weight: bold;
}

.dot1,
.dot2,
.dot3 {
  display: inline-block;
  animation: wave 1s infinite;
}

.dot2 {
  animation-delay: 0.15s;
}

.dot3 {
  animation-delay: 0.3s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-8px);
  }
}
