.footer {
  border-top: 1px solid var(--gray);
  color: var(--black);
  font-size: 14px;
  text-align: center;

  .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1rem 1.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 0;
      padding: 1rem 1.5rem;
    }
  }

  .supporters {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .cje,
    .eca {
      height: 50px;
    }

    .usp {
      height: 30px;
    }

    @media (min-width: 360px) {
      flex-direction: row;
    }
  }

  .address {
    text-align: center;

    @media (min-width: 768px) {
      text-align: right;
    }
  }

  a {
    color: var(--black);
    font-weight: bold;
  }

  .copyright {
    border-top: 1px solid var(--gray);
    padding: 0.5rem;

    small {
      display: block;
      font-size: 14px;
    }
  }
}
