.error-message {
  padding: 0 1rem;
  margin: 3rem 0 4rem;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
  }

  p {
    color: var(--dark-gray);
    margin-bottom: 2rem;
  }
}

.backlink {
  color: var(--dark-gray);
  display: inline-block;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    background-color: var(--gray);
  }
}
